<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Конструктор Опросов - Эффективное Решение для Рекрутеров</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
    <title>Всплывающее окно</title>
</head>
<body>
    <div class="container">
        <button id="language-button" class="language-button">EN</button> <!-- Кнопка переключения языка -->
    </div>
        <header>
            <h1>Конструктор опросов</h1>
            <nav>
                <section id="button" class="bordered_button">
                    <a href="#" id="createsurvey" class="cta">Создать опрос</a>
                </section>
            </nav>
        </header>
    <section id="intro" class="text">
        <h2>Эффективное решение для рекрутеров</h2>
        <p>Создавайте и управляйте опросами с легкостью. Наш конструктор предлагает интуитивно понятный интерфейс и мощные инструменты для анализа данных.</p>
    </section>
    <section id="features" class="text">
        <h2>Функциональные возможности</h2>
        <ul>
        <li>Создание различных типов вопросов: текстовые, множественный выбор, шкалы и т.д.</li>
        <li>Интуитивно понятный интерфейс для настройки и редактирования опросов.</li>
        <li>Инструменты для анализа и визуализации результатов опросов.</li>
        <li>Интеграция с существующими HR-системами.</li>
        <li>Адаптивный дизайн для всех устройств.</li>
        </ul>
    </section>
    <section id="examples" class="text">
        <h2>Примеры использования</h2>
        <p>Наш конструктор подходит для:</p>
        <ul>
            <li>Оценки кандидатов на собеседованиях.</li>
            <li>Сбор обратной связи от сотрудников.</li>
            <li>Проведения исследований и опросов.</li>
        </ul>
    </section>

    <footer>
    <p>&copy; 2024 Конструктор Опросов.</p>
        Выполнено командой Eshkere_dev
    </footer>
<script src="{{ url_for('static', filename='scripts/index_script.js') }}"></script>

</body>
</html>